structlog
pyyaml
python-dotenv
boto3
pydantic

langchain
langchain-core
langchain-text-splitters
langchain-google-genai
langchain-openai
openai
langchain-groq
langchain-qdrant

PyMuPDF
docx2txt
python-pptx

-e .